@mixin font-face($font-family, $font-name, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url('../fonts/#{font-name}.woff2') format('woff2');
    font-weight: $font-weight;
    font-style: normal;
    font-display: swap;
  }
}