@use "../../../../scss/vars" as *;
@use "swiper/css/bundle" as *;
@use "../../../../scss/mixins" as *;

.swiper-price {
  //  position: relative;
  padding-top: 16px;
  // min-height: 304px;
  min-height: 244px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: max-height 0.3s ease;
  @include tablet-up {
    // position: relative;
    padding: 32px 24px 0;
    // min-width: 720px;
    width: 100%;
  }
  @include desktop-up {
    padding: 32px 32px 0;
  }
  &.active {
    @include tablet-up {
      max-height: 100%;
      transition: max-height 0.8s ease;
    }
  }
  &__wrapper {
    @include tablet-up {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: $background-white;
      border-radius: 6px;
    }
    @include desktop-up {
    }
  }
  &__slide {
    max-width: 260px;
    @include tablet-up {
      max-width: 100%;
    }
    // @include desktop-up {
    //   max-width: 240px;
    // }
    &_header {
      display: none;
      @include tablet-up {
        position: static;
        padding: 0 16px;
        display: grid;
        grid-template-columns:
          minmax(10px, 3fr) minmax(10px, 0.8fr) minmax(10px, 0.8fr)
          minmax(10px, 1fr);
        width: 100%;
        height: 32px;
      }
      @include desktop-up {
        grid-template-columns:
          minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 1fr)
          minmax(10px, 0.5fr);
      }
    }
  }
  &__card {
    width: 260px;
    height: 200px;
    padding: 16px 16px 20px 16px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid $button-background;
    background-color: $background-white;
    @include tablet-up {
      padding: 0 16px;
      display: grid;
      grid-template-columns:
        minmax(10px, 3fr) minmax(10px, 0.8fr) minmax(10px, 0.8fr)
        minmax(10px, 1fr);
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 64px;
      border: none;
      border-radius: 0;
    }
    @include desktop-up {
      grid-template-columns:
        minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 1fr)
        minmax(10px, 0.5fr);
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
  }
  &__line {
    display: block;
    position: absolute;
    width: 24px;
    height: 208px;
    top: 12px;
    right: 0;
    background: linear-gradient(
      270deg,
      $background 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10000;
    @include tablet-up {
      display: none;
    }
  }
  &__pagination {
    display: flex;
    position: static;
    justify-content: center;
    @include tablet-up {
      display: none;
    }
  }
  &__title {
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    opacity: 0.72;

    @include tablet-up {
      display: none;
    }
    &_header {
      @include tablet-up {
        display: block;
      }
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    &_down {
      padding: 16px;
      line-height: 20px;
      letter-spacing: 0.2px;
      min-width: 288px;
      min-height: 138px;
      @include tablet-up {
        min-width: 421px;
        min-height: 60px;
      }
    }
    &_link {
      display: block;
      padding-left: 16px;
      max-height: 55px;
      max-width: 208px;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.5;
      }
      @include tablet-up {
        max-height: 24px;
        max-width: 316px;
      }
    }
  }
  &__goside {
    height: 24px;
    width: 24px;
  }
  &__more {
    position: absolute;
    display: inline;
    width: 24px;
    height: 28px;
  }
  &__separator {
    display: none;
    @include tablet-up {
      display: flex;
      width: 95%;
      height: 1px;
      background-color: $button-background;
    }
  }
}
