@use "../../scss/vars" as *;
@use "../../scss/mixins" as *;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 145px;
  width: 100%;
  border-top: 1px solid;
  border-color: $header-border;
  padding-bottom: 16px;
  transition: all 0.5s ease-in-out;
  @include tablet-up {
    height: 97px;
  }
  @include desktop-up {
    height: 81px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @include tablet-up {
      padding: 0 24px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    @include desktop-up {
       padding: 0 32px;
    }
  }
  &__text {
    color: $gray;
    opacity: 0.72;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    @include tablet-up {
      text-align: start;
      width: 218px;
    }

    &_right {
      @include tablet-up {
        text-align: end;
        width: 218px;
      }
      @include desktop-up {
        text-align: start;
        width: 330px;
      }
    }
  }
}
