@use '../../../scss/vars' as *;


// body {
//   text-align: center;
//   margin: 0 auto;
//   min-width: 320px;
//   max-width: 1120px;
//   min-height: 100vh;
//   font-family: "TT Lakes";
//   color: var(--black);
// }

.header-swiper {
  height: 56px;
  background: linear-gradient(
    90deg,
    $background 0%,
    $background-white 100%
  );
  padding-left: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.header-swiper__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: $gray;
}
.main__swiper {
  background: $background;
}

#slide {
  max-width: 240px;
}
.card {
  width: 240px;
  height: 72px;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  border-width: 1px;
  border: 1px solid $button-background;
  background-color: $background-white;
}

.card__container {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.lenovo {
  width: 108px;
  height: 32px;
  background-size: cover;
  background: url("../img/lenovo.svg");
}
.samsung {
  width: 116px;
  height: 38px;
  background-size: con;
  background: url("../img/samsung.svg");
}
.apple {
  width: 44px;
  height: 44px;
  background-size: cover;
  background: url("../img/apple.svg");
}
.bosch {
  width: 128px;
  height: 29px;
  background-size: cover;
  background: url("../img/bosch.svg");
}
.hp {
  width: 52px;
  height: 52px;
  background-size: cover;
  background: url("../img/hp.svg");
}
.acer {
  width: 92px;
  height: 24px;
  background-size: cover;
  background: url("../img/acer.svg");
}
.view-sonic {
  width: 128px;
  height: 21px;
  background-size: cover;
  background: url("../img/viewSonic.svg");
}
.sony {
  width: 128px;
  height: 26px;
  background-size: cover;
  background: url("../img/sony.svg");
}
.button__dropdown {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-size: cover;
  cursor: pointer;
  background: url("../img/dropdown.svg");
}

.line {
  display: none;
}
#pagination {
  display: none;
}

@media (max-width: 767px) {
  .main {
    padding: 16px 0 33px 0;
  }
  .header {
    height: 80px;
    padding-left: 16px;
    text-align: left;
  }

  #swiper {
    min-height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .line {
    display: block;
    position: absolute;
    width: 24px;
    height: 82px;
    top: -5px;
    right: 0;
    background: linear-gradient(
      270deg,
      $background 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
    z-index: 10000;
  }
  #pagination {
    display: block;
    position: static;
  }
  .about__read-more {
    display: none;
  }
}
@media (min-width: 768px) {
  .main {
    min-height: 266px;
    padding: 0 24px 34px;
    display: grid;
    justify-content: start;
  }
  #swiper {
    padding: 24px 0;
    max-height: 199px;
    overflow: hidden;
    display: grid;
    justify-content: space-evenly;
  }
  .swiper.active {
    max-height: max-content !important;
  }
  #wrapper {
    display: grid;
    grid-template-columns: repeat(3, 224px);
    justify-items: center;
    align-items: center;
    gap: 16px 24px;
  }
  #slide {
    max-width: 224px;
  }
  .card {
    width: 224px;
  }
  .about__read-more {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    gap: 8px;
  }

  .read-more__expand {
    width: 24px;
    height: 24px;
    background-image: url("../img/expand.svg");
    background-size: cover;
    transition: transform 0.5s ease;
  }

  .read-more__expand.active {
    transition: transform 0.5s ease;
    transform: rotate(180deg);
  }

  .read-more__text {
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.2px;
  }
}
@media (min-width: 1120px) {
  .header {
    height: 56px;
    padding-left: 24px;
  }
  .main {
    padding: 0 32px 34px;
  }

  #wrapper {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 16px 32px;
  }
  #slide {
    max-width: 240px;
  }
  .card {
    width: 240px;
  }
}