@use "../../scss/vars" as *;
@use "../../scss/mixins" as *;

.button {
  transition: opacity 0.3s ease-in-out;
  &:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.6;
  }
  &_burger {
    background-image: url("../img/burger.svg");
  }
  &_repair {
    background-image: url("../img/repair.svg");
  }
  &_checkstatus {
    background-image: url("../img/checkstatus.svg");
  }
  &_call {
    background-image: url("../img/call.svg");
  }
  &_chat {
    background-image: url("../img/chat.svg");
  }
  &_profile {
    background-image: url("../img/profile.svg");
  }
  &_dropdown {
    background-image: url("../img/dropdown.svg");
  }
  &_close {
    background-image: url("../img/close.svg");
  }
  &_search {
    background-image: url("../img/search.svg");
  }
  &_order {
    position: absolute;
    right: 16px;
    bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 8px;
    gap: 8px;
    width: 119px;
    height: 32px;
    border-radius: 16px;
    background-color: $pink;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: $background-white;
    @include tablet-up {
      position: static;
    }
  }
  &_close {
    &_burger-menu {
      @include notebook-up {
        display: none;
      }
    }
  }
}
