.button {
  transition: opacity 0.3s ease-in-out;
  &:hover {
    transition: opacity 0.3s ease-in-out;
    opacity: 0.6;
  }
  &_burger {
    background-image: url("../img/burger.svg");
  }
  &_repair {
    background-image: url("../img/repair.svg");
  }
  &_checkstatus {
    background-image: url("../img/checkstatus.svg");
  }
  &_call {
    background-image: url("../img/call.svg");
  }
  &_chat {
    background-image: url("../img/chat.svg");
  }
  &_profile {
    background-image: url("../img/profile.svg");
  }
  &_dropdown {
    background-image: url("../img/dropdown.svg");
  }
  &__close {
    background-image: url("../img/close.svg");
  }
  &.button__search {
    background-image: url("../img/search.svg");
  }
}
