html

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid transparent;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "TT Lakes";
  color: var(--black);
  background-color: var(--background);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: var(--gray);
}

input:focus,
textarea:focus {
  outline: none;
}

footer {
  background: var(--footer-background);
}

.is--hidden {
  display: none !important;
}

.btn--reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

.error {
  border: 2px var(--error-red) solid !important;
}

.container {
  min-width: 320px;
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 768px) {
  }

  @media (max-width: 320px) {
  }
}
