$footer-background: #1b1c21;
$main-text-color: #1b1c21;
$menu-text-color: #7e7e82;
$border-color: #b8ffec;
$background: #f8f8f8;
$background-white: #ffffff;
$button-background: #eaeaea;
$gray: #7e7e82;
$black: #1b1c21;
$header-border: #d9fff5;
$button-active-border: #b8ffec;
$turquoise: #41f6d7;

$swiper-pagination-color: #b5b6bc;
$swiper-pagination-bullet-inactive-color: #dddddd;
$swiper-pagination-bullet-inactive-opacity: 1;
$swiper-pagination-bullet-width: 12px;
$swiper-pagination-bullet-height: 12px;
$swiper-pagination-bullet-horizontal-gap: 6px;

$mobile-min: 320px;
$mobile-midle:520px;
$mobile-max: 767px;
$tablet-min: 768px;
$tablet-max: 1119px;
$desktop-min: 1120px;
$desktop-max: 1440px;