// $white: #fff;
$light-gray: #efefef;
$soft-gray: #ececec;
// $gray: #cacaca;
$table-background: #6d6d6d;
$error-red: #ff0000;
$error-red-prehover: #ff7a7a;
$orange-btn: #ff9900;
$green-confirm: #009e1a;
$link-color: #0d6efd;
$link-color--hover: #003f9c;
$dark-gray: #222222;
$dark-input: #414141;
$dark: #212529;
// $black: #000;

$background: #f8f8f8;
$footer-background: #1b1c21;
$main-text-color: #1b1c21;
$menu-text-color: #7e7e82;
$border-color: #b8ffec;

$background-white: #ffffff;
$button-background: #eaeaea;
$gray: #7e7e82;
$black: #1b1c21;
$header-border: #d9fff5;
$button-active-border: #b8ffec;
$turquoise: #41f6d7;

$swiper-pagination-color: #b5b6bc;
$swiper-pagination-bullet-inactive-color: #dddddd;
$swiper-pagination-bullet-inactive-opacity: 1;

$swiper-pagination-bullet-width: 12px;
$swiper-pagination-bullet-height: 12px;
$swiper-pagination-bullet-horizontal-gap: 6px;

//   --swiper-pagination-color: #b5b6bc;
//   --swiper-pagination-bullet-inactive-color: #dddddd;
//   --swiper-pagination-bullet-inactive-opacity: 1;

//   --swiper-pagination-bullet-width: 12px;
//   --swiper-pagination-bullet-height: 12px;
//   --swiper-pagination-bullet-horizontal-gap: 6px