@use "mixins" as *;
@use "fonts" as *;
@use "vendor" as *;
@use "vars" as *;
@use "settings" as *;

.header {
  text-align: center;
  & img {
    width: 30%;
  }
}

.welcome-title {
  margin-top: 50px;
  font-size: 6em;
}
