@use "./mixins";
@use "./fonts";
@use "./vendor";
@use './swiper';
@use "./vars";
@use "./settings";
@use "./blocks";



:root {
  --paleBackground: #ffffff;
  --white: #f8f8f8;
  --whiteButton: #eaeaea;
  --grey: #7e7e82;
  --black: #1b1c21;
  --superLightTurquoise: #d9fff5;
  --lightTurquoise: #b8ffec;
  --turquoise: #41f6d7;
  --swiper-pagination-color: #b5b6bc;
  --swiper-pagination-bullet-inactive-color: #dddddd;
  --swiper-pagination-bullet-inactive-opacity: 1;

  --swiper-pagination-bullet-width: 12px;
  --swiper-pagination-bullet-height: 12px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}



